<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sikwin.app">

    <application>
        <!-- Debug-only: allow ADB to launch Unity activity for testing -->
        <activity
            android:name="com.unity3d.player.UnityPlayerGameActivity"
            android:exported="true"
            tools:replace="android:exported" />
    </application>

</manifest>

